.list-cell{
	-fx-text-fill: white;
}
.list-cell:even{
	-fx-background-color: black;
}
.list-cell:odd{
	-fx-background-color: black;
}
.list-cell:filled:hover{
	-fx-background-color: #df52c9;
}
.list-cell:filled:selected:focused{
	-fx-background-color: #d727bb;
}