#glass-grey {
    -fx-background-color: 
		#3c7fb1,
		linear-gradient(#fafdfe, #e8f5fc),
		linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
	-fx-font-weight: bold;
    -fx-text-fill: rgb(11, 100, 125);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#glass-grey:hover {
    -fx-background-color: 
		#3c7fb1,
		linear-gradient(#fafdfe, #e8f5fc),
		linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
	-fx-font-weight: bold;
    -fx-text-fill: rgb(22, 200, 249);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#glass-grey:pressed {
    -fx-background-color: 
		#3c7fb1,
		linear-gradient(#fafdfe, #e8f5fc),
		linear-gradient(#a7d9f5 0%, #bee6fd 49%, #d9f0fc 50%, #eaf6fd 100%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
	-fx-font-weight: bold;
    -fx-text-fill: rgb(11, 100, 125);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}