.text-area {
	-fx-background-color: black;
	-fx-background-radius: 15;
	-fx-border-color: rgb(22, 200, 249);
	-fx-border-width: 2;
	-fx-border-radius: 15;
}
.text-area .viewport {
	-fx-background-color: transparent;
}
.text-area .content {
	-fx-background-color: transparent;
	-fx-background-radius: 15;
}
.text-area:focused .content {
	-fx-background-color: transparent;
	-fx-background-radius: 15;
}